#create-account-link {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#create-account-link p {
    margin-right: 10px;
}

.success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

