nav {
    width: 100%;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 65px;
}

.nav-container {
    flex-basis: 1200px;
    margin: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*border: 2px solid green;*/
}

.nav-inner-container-right {
    display: flex;
    flex-direction: row;
    flex-basis: 500px;
    justify-content: space-between;
    align-items: center;

    /*border: 2px solid blue;*/
}

.navigation-links {
    display: flex;
    flex-direction: row;
    flex-basis: 350px;
    justify-content: space-between;
    /*border: 2px dotted blue;*/
}

.nav-menu-link {
    font-size: 18px;
    text-transform: uppercase;
    list-style: none;
    margin: 0 10px;
}

.user-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 120px;
    /*border: 2px dotted red;*/
}

/*.log-link {*/
/*    background: none;*/
/*    padding: 5px 10px;*/
/*    font-size: 16px;*/
/*    color: var(--color-tertiary);*/
/*    border: 2px solid var(--color-tertiary);*/
/*    border-radius: 25px;*/
/*}*/



nav a,
nav a:hover {
    color: black;
}

.active-menu-link {
    text-decoration: underline;
}

.default-menu-link {
    text-decoration: none;
}




@media screen and (max-width: 768px) {
    nav {
        height: 100px;
    }
    .navigation-links {
        flex-direction: column;
        max-width: 150px;
    }
    .nav-menu-link {
        padding: 5px 0;
    }
}

@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
        height: 120px;
    }
    .nav-inner-container-right {
        flex-direction: column;
        align-items: flex-end;
        border: 2px solid blue;
    }
    .user-container {
        padding: 5px 12px 0 0 ;
    }
}