.user-container {
    position: relative;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-button {
    background-color: var(--color-primary);
    border: none;
    cursor: pointer;
}

#user-icon {
    width: 30px;
    height: 30px;
    display: block;
    object-fit: cover;
    filter: invert(100%);
}

.dropdown-content {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--color-secondary);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 160px;
    padding: 15px;
}

.dropdown-content a,
.dropdown-content p,
.dropdown-content button {
    padding: 10px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
}


.dropdown-content a:hover,
.dropdown-content button:hover {
    font-weight: 600;
}

.dropdown-content p {
    font-weight: 600;
    text-transform: uppercase;
}

#profile-settings-link {
    padding-top: 20px;
}

#profile-link {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}