.search-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar-input, button[type="submit"] {
    height: 35px;
}

.search-bar-input {
    border: 2px solid var(--color-secondary);
    border-right: 0;
    background-color: white;
    border-radius: 25px 0 0 25px;
    width: 300px;
    padding: 5px 10px;
    box-sizing: border-box;
}

input[type="search"]::placeholder {
    color: #bbb;
}

button[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    background-color: white;
    cursor: pointer;
    border: 2px solid var(--color-secondary);
    border-left: 0;
    border-radius: 0 25px 25px 0;
    padding: 0;
}

.magnifying-glass-icon {
    height: 20px;
    width: 20px;
    opacity: 0.5;
}
