.subject-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 30px 20px 0;
    /*border: 2px solid green;*/
}

.subject-title {
    text-transform: uppercase;
    margin: 0 0 10px;
}

.title-container {
    margin: 10px 0;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--color-primary);
}

.book-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 800px;
    border-bottom: 1px solid var(--color-primary);
}