.author-container {
    display: flex;
    flex-direction: row;
    margin: 40px 0;
    padding: 20px 0;
    border-top: 2px solid var(--color-primary);
    border-bottom: 2px solid var(--color-primary)
}

.author-works-container h2 {
    margin-bottom: 15px;
}

.author-works-list {
    list-style: none;
    padding: 4px 0;
}
