.outer-container {
  display: flex;
  justify-content: center;
  flex-basis: 1200px;
  margin: 10px 30px 40px;
  /*border: 2px solid pink;*/
}

.inner-container {
  display: flex;
  flex-basis: 800px;
  flex-direction: column;
  padding: 20px 0;
  margin: 25px 0;
  /*border: 2px solid blue;*/
}

.inner-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  /*border: 2px solid red;*/
}

form {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 20px 0;
}

label {
  display: flex;
  flex-direction: column;
}

.titles {
  font-size: 22px;
}

.button {
  background-color: var(--color-tertiary);
  border: 2px solid var(--color-primary);
  border-radius: 25px;
  padding: 7px 14px;
  width: fit-content;
}

.submit-button {
    margin: 20px 0;
}

.link-button {
  margin-left: 10px;
  border-radius: 0;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.error-message {
  color: mediumvioletred;
  padding: 10px 0;
}

.result-pages-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /*border: 2px solid yellow;*/
}